$light_color:#f6f6f6;
$primary_color:#F5F6FA;
$button_color:#2F42B6;
$white_color:#ffffff;
$danger_color:#FF0000;
$dark_color:rgba(0, 0, 0, 0.2);

@mixin flexCenter($direction: row,$align_item:center,$justify_content:center) {
  display: flex;
  align-items: $align_item;
  justify-content: $justify_content;
  flex-direction: $direction;
}

@mixin padding($top:0px,$left:0px,$right:0px,$bottom:0px){
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
  padding-bottom:$bottom;
}